{% extends "base.html.twig" %}

{% block productsNavStyle %}current_page{% endblock %}

{% block content %}
    <div id="item">
        <section>
            <p><img src="/img/{{ item.photo }}"></p>
        </section>
        <section>
            <h1>{{ item.name }}</h1>
            <p>Description: {{ item.description }}
                </br>
                Price: {{ item.price }}
                </br>
                Calories: {{ item.calories }}
                </br>
                Allergy Information: {{ item.allergyInformation }}
            </p>
        </section>
    </div>
{% endblock %}