{% extends "baseSecure.html.twig" %}

{% block aboutNavStyle %}current_page{% endblock %}

{% block content %}

    <h1>Users</h1>
    <button id="popup" onclick="div_show()">ADD</button>
    <input type="text" id="search" placeholder="Type to search..." />

        <table id="adminTable"  class="tablesorter">
            <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    NAME
                </th>
                <th>
                    PASSWORD
                </th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr id="{{ user.id }}">
                    <td id = "id">
                        {{ user.id }}
                    </td>
                    <td id = "username">
                        {{ user.username }}
                    </td>
                    <td id = "password">
                        {{ user.password }}
                    </td>
                    <td>
                        <button onclick="editUser({{ user.id }})">EDIT</button>
                    </td>
                    <td>
                        <button onclick="deleteUser({{ user.id }})">DELETE</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    <!-- Display Popup Button -->
    <div id="abc">
        <!-- Popup Div Starts Here -->
        <div id="popupContact">
            <!-- Contact Us Form -->
            <form
                    method="post"
                    action="/createUser"
                    >

                <h1>Create New User</h1>

                <p>
                    Username:
                    <input type="text" name="username" autofocus>
                </p>
                <p>
                    Password:
                    <input type="password" name="password">
                </p>
                <input type="submit" value="create">
            </form>
            <button onclick="div_hide()">Close</button>
        </div>
        <!-- Popup Div Ends Here -->
    </div>

    <div id="eabc">
        <!-- Popup Div Starts Here -->
        <div id="popupContact">
            <!-- Contact Us Form -->
            <form
                    method="post"
                    action="/updateUser"
                    >

                <h1>Edit User</h1>

                <p>
                    Username:
                    <input id="eUsername" type="text" name="username" autofocus>
                </p>
                <p>
                    Password:
                    <input id="ePassword" type="password" name="password">
                </p>
                <input id="eId" type="hidden" name="id">
                <input type="submit" value="update">
            </form>
            <button onclick="e_div_hide()">Close</button>
        </div>
        <!-- Popup Div Ends Here -->
    </div>
{% endblock %}
